<configuration>
    <system.web>
        <compilation batch="false"/>
		<customErrors mode="On" redirectMode="ResponseRedirect">
			<error statusCode="404" redirect="../NotFound.html" />
			<error statusCode="400" redirect="../BadRequest.html" />
			<error statusCode="500" redirect="../InternalError.html" />
		</customErrors>
    </system.web>
    <system.webServer>
		<httpErrors errorMode="Custom" defaultResponseMode="Redirect">
			<clear/>
			<error statusCode="404" path="../NotFound.html" responseMode="Redirect" />
			<error statusCode="400" path="../BadRequest.html" responseMode="Redirect" />
			<error statusCode="500" path="../InternalError.html" responseMode="Redirect" />
		</httpErrors>
        <handlers>
            <add name="iisnode" path="Server.js" verb="*" modules="iisnode" />
        </handlers>
        <iisnode loggingEnabled="false" />
    <rewrite>
        <rules>
            <rule name="myapp">
                <match url="/*" />
                <action type="Rewrite" url="Server.js" />
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>